<div id="404">
  <div class="container text-center">
    <!-- 404 Error Text -->
    <div class="text-center">
      <div class="error mx-auto" data-text="404">404</div>
      <p class="lead text-gray-800 mb-5">Page Not Found</p>
      <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
      <a href="/">&larr; Back to safety</a>
    </div>
    <hr/>
    <div class="help">
      <p>Think you're seeing this message in error?<br/><span class="mobile-spacer">&nbsp;</span>Please <a href="/contact">let us know.</a></p>
    </div>
  </div>
</div>
