<div class="container" id="forgot-password" v-cloak>

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                  <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a
                    link to reset your password!</p>
                </div>
                <div class="forgot-form" v-if="!cloudSuccess">
                  <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                    @submitted="submittedForm()" :handle-parsing="handleParsingForm" class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" aria-describedby="emailHelp"
                        :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress"
                        autocomplete="email" focus-first>
                      <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.
                      </div>
                    </div>
                    <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request.
                        Please check your information and try again, or <a href="/contact">contact support</a> if the
                        error persists.</small></p>
                    <div class="form-group">
                      <ajax-button type="submit" :syncing="syncing" class="btn btn-primary btn-user btn-block">Send
                        reset link</ajax-button>
                    </div>
                  </ajax-form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/signup">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/login">Already have an account? Login!</a>
                  </div>
                </div>
                <div class="success-message" v-if="cloudSuccess">
                  <p>We've sent you a link to update your password.</p>
                  <hr />
                  <p>If the email doesn’t arrive after a few minutes, try checking your spam folder. If you still can’t
                    find it, please try again, or <a href="/contact">contact support</a>.</p>
                  <p class="text-center"><a class="btn btn-outline-primary" href="/login">Back to login</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<script>
  document.body.classList.add('bg-gradient-primary');

</script>
